{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Thanks, Jhon!</h1>
        </div>
        <h2>Your responded correctly 3 out of 4 questions.</2>
    </div>
{% endblock content %}