{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Thanks, {{user.username}}!</h1>
        </div>
        
        <h2>Your responded correctly {{result.correct_answer}} out of {{result.correct_answer + result.wrong_answer}} questions.</2>
    </div>
{% endblock content %}